# Assignment 4

Before working on this assignment please read these instructions fully. In the submission area, you will notice that you can click the link to **Preview the Grading** for each step of the assignment. This is the criteria that will be used for peer grading. Please familiarize yourself with the criteria before beginning the assignment.

This assignment requires that you to find **at least** two datasets on the web which are related, and that you visualize these datasets to answer a question with the broad topic of **religious events or traditions** (see below) for the region of **Delhi, National Capital Territory of Delhi, India**, or **India** more broadly.

You can merge these datasets with data from different regions if you like! For instance, you might want to compare **Delhi, National Capital Territory of Delhi, India** to Ann Arbor, USA. In that case at least one source file must be about **Delhi, National Capital Territory of Delhi, India**.

You are welcome to choose datasets at your discretion, but keep in mind **they will be shared with your peers**, so choose appropriate datasets. Sensitive, confidential, illicit, and proprietary materials are not good choices for datasets for this assignment. You are welcome to upload datasets of your own as well, and link to them using a third party repository such as github, bitbucket, pastebin, etc. Please be aware of the Coursera terms of service with respect to intellectual property.

Also, you are welcome to preserve data in its original language, but for the purposes of grading you should provide english translations. You are welcome to provide multiple visuals in different languages if you would like!

As this assignment is for the whole course, you must incorporate principles discussed in the first week, such as having as high data-ink ratio (Tufte) and aligning with Cairo’s principles of truth, beauty, function, and insight.

Here are the assignment instructions:

 * State the region and the domain category that your data sets are about (e.g., **Delhi, National Capital Territory of Delhi, India** and **religious events or traditions**).
 * You must state a question about the domain category and region that you identified as being interesting.
 * You must provide at least two links to available datasets. These could be links to files such as CSV or Excel files, or links to websites which might have data in tabular form, such as Wikipedia pages.
 * You must upload an image which addresses the research question you stated. In addition to addressing the question, this visual should follow Cairo's principles of truthfulness, functionality, beauty, and insightfulness.
 * You must contribute a short (1-2 paragraph) written justification of how your visualization addresses your stated research question.

What do we mean by **religious events or traditions**?  For this category you might consider calendar events, demographic data about religion in the region and neighboring regions, participation in religious events, or how religious events relate to political events, social movements, or historical events.

## Tips
* Wikipedia is an excellent source of data, and I strongly encourage you to explore it for new data sources.
* Many governments run open data initiatives at the city, region, and country levels, and these are wonderful resources for localized data sources.
* Several international agencies, such as the [United Nations](http://data.un.org/), the [World Bank](http://data.worldbank.org/), the [Global Open Data Index](http://index.okfn.org/place/) are other great places to look for data.
* This assignment requires you to convert and clean datafiles. Check out the discussion forums for tips on how to do this from various sources, and share your successes with your fellow students!

## Example
Looking for an example? Here's what our course assistant put together for the **Ann Arbor, MI, USA** area using **sports and athletics** as the topic. [Example Solution File](./readonly/Assignment4_example.pdf)

In [16]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib notebook
pg = "http://en.wikipedia.org/wiki/Delhi_Daredevils"
dfs_dd = pd.read_html(pg, attrs = {'class':'wikitable'})
dfs_dd[3].to_csv('ex.csv')
df_win_loss = pd.read_csv('ex.csv', skiprows = 1)
df_win_loss

,0,Edition,Played,Won,Loss,Tied,No Result,Win%,Home Win%,Away Win%,Neutral Win%,Status
0,1,IPL 2008,15,7,7,-,1,50%,4/7 (1 NR)= 66.67%,3/7= 42.86%,0/1=0%,Semifinalists
1,2,IPL 2009 (South Africa),15,10,5,-,-,66.67%,-,-,10/15= 66.67%,"League Stage Table Toppers, Semifinalists"
2,3,IPL 2010,14,7,7,-,-,50%,3/7= 42.86%,4/7= 57.14%,-,League stage
3,4,IPL 2011,14,4,9,-,1,30.77%,1/7 (1 NR)= 16.67%,3/7= 42.86%,-,League stage
4,5,IPL 2012,18,11,7,-,-,61.11%,5/8= 62.5%,6/9= 66.67%,0/1=0%,"League Stage Table Toppers, Playoffs"
5,6,IPL 2013,16,3,13,-,-,18.75%,3/8= 37.5%,0/8= 0%,0/0=0%,League Stage
6,7,IPL 2014 (UAE & India),14,2,12,-,-,14.28%,0/5= 0%,0/4= 0%,2/5=40%,League Stage
7,8,IPL 2015,14,5,8,-,1,35.70%,3/7= 42.8%,2/7= 28.5%,0/0=0%,League Stage
8,9,IPL 2016,14,7,7,-,NaN,50%,2/2 =100 %,1/2= 50%,= %,League Stage
9,10,IPL 2017,14,6,8,-,NaN,42.85%,2/2 =100 %,1/2= 50%,= %,League Stage
10,11,OVERALL,142,62,83,-,3,43.66%,22/53 (2 NR)= %,18/50= 36%,12/22= 54.54%,NaN

In [17]:
df_win_loss_dd = df_win_loss.copy()
cols = ['Edition', 'Win%']
win_loss_dd = df_win_loss_dd[cols]
win_loss_dd # reading columns required

                    Edition    Win%
0                  IPL 2008     50%
1   IPL 2009 (South Africa)  66.67%
2                  IPL 2010     50%
3                  IPL 2011  30.77%
4                  IPL 2012  61.11%
5                  IPL 2013  18.75%
6    IPL 2014 (UAE & India)  14.28%
7                  IPL 2015  35.70%
8                  IPL 2016     50%
9                  IPL 2017  42.85%
10                  OVERALL  43.66%

In [18]:
# data cleaning -> removing content within brackets 

for i in np.arange(0,10,1):
    
    if '(' in win_loss_dd['Edition'][i]:
        win_loss_dd['Edition'][i] = win_loss_dd['Edition'][i][:win_loss_dd['Edition'][i].index('(') - 1]
        
    
        
win_loss_dd_cleaned = win_loss_dd[:10] # slicing the last row   
# win_loss_dd_cleaned['Edition'][i] = win_loss_dd_cleaned['Edition'][i][win_loss_dd_cleaned['Edition'][i].index('L') + 1:]
win_loss_dd_cleaned = win_loss_dd_cleaned.replace(to_replace = '50%', value = '50.00%')
win_loss_dd_cleaned

/Users/tarunkukreja/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2862: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    Edition    Win%
0  IPL 2008  50.00%
1  IPL 2009  66.67%
2  IPL 2010  50.00%
3  IPL 2011  30.77%
4  IPL 2012  61.11%
5  IPL 2013  18.75%
6  IPL 2014  14.28%
7  IPL 2015  35.70%
8  IPL 2016  50.00%
9  IPL 2017  42.85%

In [19]:
for i in np.arange(0,10,1):
    win_loss_dd_cleaned['Win%'][i] = win_loss_dd_cleaned['Win%'][i][:-1]
    
win_loss_dd_cleaned

    Edition   Win%
0  IPL 2008  50.00
1  IPL 2009  66.67
2  IPL 2010  50.00
3  IPL 2011  30.77
4  IPL 2012  61.11
5  IPL 2013  18.75
6  IPL 2014  14.28
7  IPL 2015  35.70
8  IPL 2016  50.00
9  IPL 2017  42.85

In [20]:
# for i in np.arange(0,10,1):
#     win_loss_dd_cleaned['Win%'][i] = win_loss_dd_cleaned['Win%'][i][:win_loss_dd_cleaned['Win%'][i].index('%')]
# win_loss_dd_cleaned 

edition_list = []
win_per_list = []
edition_list = win_loss_dd_cleaned['Edition']
win_per_list = win_loss_dd_cleaned['Win%']

In [21]:
win_loss_dd['Edition'][i].index('L') + 3

5

In [22]:
# mumbai indians

mi_page = "http://en.wikipedia.org/wiki/Mumbai_Indians"
dfs_mi = pd.read_html(mi_page, attrs = {'class':'wikitable'})
dfs_mi[4].to_csv('mi_stats.csv')
df_win_loss_mi = pd.read_csv('mi_stats.csv', skiprows = 1)
df_win_loss_mi

     0   Year  Total  Wins  Losses  No result   % win  Position
0    1   2008     14     7       7          0  50.00%       5.0
1    2   2009     14     5       8          1  35.71%       7.0
2    3   2010     16    11       5          0  68.75%       2.0
3    4   2011     16    10       6          0  62.50%       3.0
4    5   2012     17    10       7          0  58.82%       4.0
5    6   2013     19    13       6          0  68.42%       1.0
6    7   2014     15     7       8          0  46.67%       4.0
7    8   2015     16    10       6          0  62.50%       1.0
8    9   2016     14     7       7          0     50%       5.0
9   10   2017     14    10       4          0  71.42%       1.0
10  11  Total    142    81      60          1  57.04%       NaN

In [23]:
df_win_loss_mi_copy = df_win_loss_mi.copy()
df_win_loss_mi_copy.rename(columns={'% win':'Win%'}, inplace = True)
cols_req = ['Year', 'Win%']
df_win_loss_mi_cleaned = df_win_loss_mi_copy[cols_req]
df_win_loss_mi_cleaned

     Year    Win%
0    2008  50.00%
1    2009  35.71%
2    2010  68.75%
3    2011  62.50%
4    2012  58.82%
5    2013  68.42%
6    2014  46.67%
7    2015  62.50%
8    2016     50%
9    2017  71.42%
10  Total  57.04%

In [24]:
df_win_loss_mi_clean_f = df_win_loss_mi_cleaned[:10]
df_win_loss_mi_clean_f = df_win_loss_mi_clean_f.replace(to_replace = '50%', value = '50.00%')
for i in np.arange(0,10,1):
    df_win_loss_mi_clean_f['Win%'][i] = df_win_loss_mi_clean_f['Win%'][i][:df_win_loss_mi_clean_f['Win%'][i].index('%')]
df_win_loss_mi_clean_f

   Year   Win%
0  2008  50.00
1  2009  35.71
2  2010  68.75
3  2011  62.50
4  2012  58.82
5  2013  68.42
6  2014  46.67
7  2015  62.50
8  2016  50.00
9  2017  71.42

In [25]:
mi_play_edition = []
mi_per_win = []
mi_play_edition = df_win_loss_mi_clean_f['Year']
mi_per_win = df_win_loss_mi_clean_f['Win%']

In [26]:
import plotly as pl
# https://plot.ly/python/getting-started/

In [27]:
import plotly.plotly as py
from plotly.graph_objs import *

In [28]:
trace0 = Scatter(
    x= mi_play_edition,
    y= mi_per_win,
    name = 'Mumbai Indians',
    line = dict(
        color = ('rgb(22, 96, 167)'),
        width = 4,)
)
trace1 = Scatter(
    x = mi_play_edition,
    y = win_per_list,
    name = 'Delhi Daredevils',
    line = dict(
        color = ('rgb(252,100,89)'),
        width = 4,)
)

# Edit the layout
layout = dict(title = 'DD win% in last 10 IPL seasons',
              xaxis = dict(title = 'IPL Season'),
              yaxis = dict(title = 'Win %'),
              )
data = [trace1, trace0]
fig = dict(data = data, layout = layout)

py.iplot(fig, filename = 'ipl-plot')